{
  "*": [
    "prettier --write --cache --ignore-unknown"
  ],
  "packages/*/**.{css,less}": [
    "stylelint --fix"
  ],
  "packages/*/{src,types}/**/*.ts": [
    "eslint --cache --fix"
  ],
  "packages/**/*.d.ts": [
    "eslint --cache --fix"
  ],
  "playground/**/__tests__/**/*.ts": [
    "eslint --cache --fix"
  ]
}